* {
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	font-weight:400;
	margin:0;
	padding:0;
	border:none;
	outline:none;
	vertical-align:baseline;
	text-decoration:none;
	list-style:none;
	border-collapse:collapse;
    border-spacing:0;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: none;
    background-repeat: no-repeat;
}

/* preloader */
.preloader{ position: fixed; top: -5px; left: 0; width: 100%; height: 5px; background: #eee; transition: top .1s ease-out; }
.preloader.show{ top: 0; }
.preloader .progress-bar{ width: 0; height: 5px; background: blue; }
.preloader.done .progress-bar{ width: 100%; transition: width .2s ease-out; }

/* grid table */
table tbody tr.selected{ background: lightblue !important; }